<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Exercise | Gym Stats</title>
    <script src="{{url_for('static',filename='/scripts/createExercise.js')}}"></script>

</head>
<body>
  <h1>Add a new exercise</h1>
  <div>
    <form id="exercise-form">
      <label for="exercise-title">Exercise:</label>
      <input oninput="updatePreview()" name="exercise-title" id="exercise-title" type="text"/>

        <p>Set 1:</p>
        <label for="exercise-set-1">Rep Range:</label>
        <input name="exercise-set-1" oninput="updatePreview()" id="exercise-set-1" class="set" />


    </form>
      <button onclick="addSet()">Add a set</button>
  </div>
    <div id="preview">
        <h1>Preview:</h1>
        <p>Exercise: <span id="exercise-title-preview"></span></p>
        <p>Set 1: <span id="exercise-set-1-preview"></span></p>
    </div>
</body>
</html>