<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | Gym stats</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/2.2.1/chartjs-plugin-annotation.min.js"></script>

    <script src="{{url_for('static',filename='/scripts/dashboard.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='/styles/dashboard.css')}}" />

</head>
<body>
    <header>
        <h1 style="text-align: center">Dashboard</h1>
        <a href="{{url_for('addBodyweight')}}">Add Bodyweight</a>
    </header>
    <div style="display: flex;align-items: center;flex-direction: column">
        <h1>Bodyweight </h1>
        <h3>Percentage Increase/Decrease: <span id="percentage"></span></h3>
        <div class="chart-div">
            <input type="date" id="week-selector" onchange="getWeightFromWeek()">
            <p><span>Start Date:<span id="start-date"></span></span> <span>End Date: <span id="end-date"></span></span></p>
            <canvas id="bodyweightChart-week"></canvas>
        </div>
        <div class="chart-div">
            <canvas id="bodyweightChart-year"></canvas>
        </div>
    </div>

</body>
</html>